<link rel="shortcut icon" href="../../assets/images/favicon.ico" type="image/x-icon">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">


<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sign in User</ion-title>
  </ion-toolbar>
</ion-header> -->



<ion-content>

  <main class="login">
    <div class="login__column">
        <img 
            src="../../assets/images/phone.png"
            alt="Phone Image"
            title="Phone Image"
            class="login__phone-image"
        />                
    </div>
    
    <section class="login__column">
        <div class="login__section login__sign-in">
            <img 
                src="../../assets/images/logo.png"
                alt="Logo"
                title="Logo"
                class="login__logo"
            />

            <form>    
              <ion-item lines="full">
                <ion-label position="floating">Email</ion-label>
                <ion-input type="text" #email required></ion-input>
              </ion-item> 

              <ion-item lines="full">
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" #password required></ion-input>
              </ion-item>

              <ion-row>
                <ion-col> 
                <ion-button type="submit" (click)="logIn(email, password)" expand="block">Login</ion-button>
                </ion-col>
              </ion-row>

              <!-- <span class="divider line one-line">or</span> -->

              <!-- <ion-row>
                <ion-col> 
                  <ion-button 
                  type="submit" 
                  color="danger"
                  (click)="authService.GoogleAuth()" 
                  expand="block">
                    Login with Google
                  </ion-button>
                </ion-col>
              </ion-row> -->

            </form>
            <span class="login__divider">or</span>
        </div>
        <div class="login__section login__sign-up">
            <span class="login__text">
                Don't have an account? 
                <a href="/signup" class="login__link">
                    Sign up
                </a>
            </span>
        </div>
    </section>
  </main>
</ion-content>