.photo__avatar {
    height: 65px;
    width: 65px;
}
.click_action{
    float: right;
    margin-right: 20px;
    position: relative;
    top: 20px;
    font-size: 20px;
    color: #888;
}
.photo__file{    
    object-fit: contain;
    height: 40vh;
    width: 100%;
}
.action{width: 35%;text-align: right;}
.action a{margin: 10px;}
.dp{width: 20%;}
.info{width: 45%;}
.photo__add-comment{width: 95%;}
.comment_button{
    background-color: transparent!important;
    color: #888!important;
    padding: 0!important;
    font-size: 15px!important;
    position: relative;
    top: -20px;
}