@media(min-width:768px){
    .profile__pictures{float: left;margin: 15px;}
    .profile-picture{width: 100%;}
    .profile-picture__picture{
        width: 300px;
        height: 300px;
    }
}

@media(max-width:768px){
    .profile__pictures
    {
        width: 29%;
        display: inline-block;
        vertical-align: top;
        margin: 5px;
    }
    .profile-picture
    {
        width: 100%;
        margin-left: 10%;
        margin-bottom: 5px;
    }
    .profile-picture__picture {
        width: 100%;
        min-height: 100px;
        max-height: 100px;
        object-fit: cover;
    }
    .profile__bio{
        margin-left: 10vw;
        margin-bottom: 20px;
    }
    .profile__uname{
        font-size: 16px;
        font-weight: 600;
    }
    .no_post{
        margin-left: 35vw;
        font-size: 21px;
    }
    .profile__button{background-color: cornflowerblue;}
}
